name: PR check

on:
  workflow_dispatch:
  # Trigger analysis when pushing in master or pull requests,
  # and when creating a pull request.
  push:
    branches:
      - main
      - feature*

  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  tests:
    name: Coverage
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x, 22.x]
        eslint-version:
          [
            [eslint@8, "@eslint/js@8"],
            [eslint@9, "@eslint/js@9"],
            [eslint@latest, "@eslint/js@latest"],
          ]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm

      - name: Installing dependencies
        run: npm ci

      - name: Install eslint ${{ matrix.eslint-version[0] }}
        run: npm install ${{ join(matrix.eslint-version, ' ') }} --no-save

      - name: Type checking
        run: npm run type:check

      - name: Linting
        run: npm run lint

      - name: Coverage
        run: npm run test

  sonar:
    name: ESLint, Coverage & Sonar
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Use Node.js 24.x
        uses: actions/setup-node@v4
        with:
          node-version: 24.x
          cache: npm

      - name: Installing dependencies
        run: npm ci

      - name: ESLint
        run: npm run lint

      - name: Coverage
        run: npm run test

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        if: env.SONAR_TOKEN != null
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.organization=ilovepixelart
            -Dsonar.projectName=eslint-plugin-lodash-es
            -Dsonar.projectKey=ilovepixelart_eslint-plugin-lodash-es
            -Dsonar.javascript.lcov.reportPaths=coverage/lcov.info
            -Dsonar.sources=src
            -Dsonar.tests=tests
            -Dsonar.test.exclusions=tests/**
            -Dsonar.coverage.exclusions=tests/**,src/**/*.test.*,src/**/*.spec.*